.dark {
  background: #000000;
  color: white;
}
.dark .a {
  text-shadow: 2px 2px 4px #000000;
}
.light {
  color: rgb(0, 0, 0);
}
.light .a {
  text-shadow: 4px 4px 12px rgb(255, 255, 255);
}
.a {
  font-weight: 600;
  line-height: 90%;
  font-family: "Lobster Two";
}
.c {
  font-family: cursive;
}
.b {
  background-image: linear-gradient(
    to left,
    rgb(0, 110, 255),
    rgb(0, 255, 149)
  );
  background-clip: text;
  color: transparent;
}
.aa {
  background-image: linear-gradient(to right, rgb(0, 110, 255), lime);
  border-radius: 2pc 0pc;
  height: 70%;
  padding-bottom: 10px;
}
.dot {
  height: 15px;
  width: 15px;
  background-color: red;
  border-radius: 50%;
  display: inline-block;
  margin-left: 13px;
}
.dot1 {
  height: 15px;
  width: 15px;
  background-color: rgb(255, 208, 0);
  border-radius: 50%;
  display: inline-block;
  margin-left: 6px;
}
.dot2 {
  height: 15px;
  width: 15px;
  background-color: rgb(9, 255, 0);
  border-radius: 50%;
  display: inline-block;
  margin-left: 6px;
}
.as {
  background: grey;
}
.pue {
  font-family: Georgia, "Times New Roman", Times, serif;
  color: aliceblue;
}
.cer {
  border-radius: 2pc 0pc;
  /* width: 70%; */
  margin: 5px;
  height: 100%;
}
@media (max-width: 768px) {
  /* .cer {
    margin-top: 3pc;
  } */
  .aa {
    margin-top: 3pc;
  }
}
.wer {
  width: 100%;
  padding: 1pc;
}
.mony {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* align-content: space-between; */
}
.mony button a {
  text-decoration: none;
  color: black;
}
.dark .mony button a {
  color: white;
}
.dark .mony button {
  border: 1px solid white;
}
.light .zuu {
  color: white;
}
.jiu{
  position: sticky;
  top: 20px;
  right: 20%;
}
